*{ 
    box-sizing: border-box;
    
}


body{
    font-family:'roboto', sans-serif ; 
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2.7em;}
p{ font-size: 1.25em;}
ul{list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white; 
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(78, 33, 120);
}

.color-computech{
    color: blueviolet;
}

.container{
    max-width: 1080px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)   
    ) 
    ,url("Imagenes/img-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

#somos-computech .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;

}

#nuestros-programas .container{
    padding: 35px 0px;
    

}

#nuestros-programas h2{
    margin-top: 0 12px;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-size: cover;
    background-position: center center;
    padding: 100px;
    margin: 30px;
    border-radius: 10px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)   
    ) 
    ,url("Imagenes/pc-carta1.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)   
    ) 
    ,url("Imagenes/notebook-carta2.png");

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)   
    ) 
    ,url("Imagenes/componentes-carta3.png");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
    
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#aplica-ya{
    background-color: rgba(30,30,30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:720px){
}
    header{
        position: fixed;
        width: 100%;
}

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }


header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

#somos-computech .container{
    display: flex;
    justify-content: center;

}


#somos-computech .texto{
    width: 50%;
    text-align: initial;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos-computech h2{
    margin: 1px;
    margin-top: 0;
}

#somos-computech .img-container{
    background-image: url("Imagenes/somos-computech.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
}

#caracteristicas .container{
    text-align: initial;
}

#caracteristicas ul{
    margin-left: 100px;
}

#caracteristicas{
    background-image: url("Imagenes/img-caracteristicas.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 10px) 120px;
}

footer .container{
    justify-content: flex-end;
}

@media (min-width:1200px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);

    }
}